[package]
name = "valence_player_list"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
bevy_app.workspace = true
bevy_ecs.workspace = true
bitfield-struct.workspace = true
valence_core.workspace = true
valence_client.workspace = true
valence_instance.workspace = true
uuid.workspace = true
valence_packet.workspace = true
