<style>
  :root {
    --primary-color: #111822;
    --primary-text-color: #d7d7d7;
    --primary-text-color-over: #fff;
    --primary-link-color: #9b9b9b;
    --secondary-color: #282828;
    --secondary-text-color: #f2f2f2;
    --toc-highlight-text-color: #f2f2f2;
    --toc-background-color: #3a3a3a;
    --code-color: white;
    --code-background-color: #4a4a4a;

    --shadow-color: #202020;
    --header-font-family: "Fira Sans", sans-serif;
    --header-text-color: #ff9a00;
    --text-font-family: "Fira Sans", sans-serif;
  }
</style>
