<style>
  :root {
    --primary-color: #111822;
    --primary-text-color: #d7d7d7;
    --primary-text-color-over: #fff;
    --primary-link-color: #03b0e7;
    --secondary-color: #18202D;
    --secondary-text-color: #f2f2f2;
    --toc-highlight-text-color: #f2f2f2;
    --toc-background-color: #272d3e;
    --code-color: white;
    --code-background-color: #272D3E;

    --shadow-color: #202020;
    --header-font-family: "Fira Sans", sans-serif;
    --header-text-color: #ff9a00;
    --text-font-family: "Fira Sans", sans-serif;
  }
</style>
