name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: clippy, rustfmt

    - name: Validate formatting on ${{ matrix.os }}
      run: cargo fmt --all -- --check
    - name: Run clippy lints on ${{ matrix.os }}
      run: cargo +stable clippy --verbose --no-deps --all-features --all-targets
    - name: Run tests on ${{ matrix.os }}
      run: cargo +stable test --verbose --all-features --all-targets
